@model IEnumerable<ShopGame.Models.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genres)
        </th>
        <th></th>   
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GenresId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GenresId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GenresId })
        </td>
    </tr>
}

</table>
